<h1>Order details</h1>
<div class="catalog">
    <div class="column">
        <img src="../../{{imageUrl}}">
    </div>
    <div class="column">
        <h2>{{category}} doner, {{size}}cm</h2>
        <h3>From {{dateOfCreation}}</h3>
        <div class="toppings">
            <b>Toppings:</b>
            {{#each toppings}}
                <p>-{{this}}</p>
                {{else}}
                    <h4>No toppings added.</h4>
            {{/each}}
        </div>
    </div>
    <div class="status">
        <div class="status-block">
            <span class="progress-right"></span>
            <span class="checkpoint {{#if status.pending}} current {{/if}}"></span><br>
            Pending
        </div>
        <div class="status-block">
            <span class="progress-left"></span>
            <span class="progress-right"></span>
            <span class="checkpoint {{#if status.progress}} current {{/if}}"></span><br>
            In progress
        </div>
        <div class="status-block">
            <span class="progress-left"></span>
            <span class="progress-right"></span>
            <span class="checkpoint {{#if status.transit}} current {{/if}}"></span><br>
            In transit
        </div>
        <div class="status-block">
            <span class="progress-left"></span>
            <span class="checkpoint {{#if status.delivered}} current {{/if}}"></span><br>
            Delivered
        </div>
    </div>
</div>