@model IEnumerable<SaleListModel>

@{
    ViewData["Title"] = "All sales";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                Discount
            </th>
            <th>
                Price
            </th>
            <th>
                Final Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sale in Model)
        {
            <tr>
                <td>
                    @sale.CustomerName
                </td>
                @if (sale.IsYoungDriver)
                {
                    <td>
                        @($"{sale.Discount.ToPercentage()} (+5%)")
                    </td>
                }
                else
                {
                    <td>
                        @(sale.Discount.ToPercentage())
                    </td>
                }
                <td>
                    @sale.Price.Value.ToPrice()
                </td>
                <td>
                    @sale.DiscountedPrice.ToPrice()
                </td>
                <td class="text-center">
                    <a class="btn btn-sm btn-default" href="/sales/@sale.Id">More Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>