<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RentACar</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="icon" href="/favicon.ico?" />
</head>
</body class="preload">
    <header>
        <nav>
            <img id="logo" src="/logo.png" alt="logo"/>
            <ul id="main-nav">
                <li><a href="/">home</a></li>
                <li><a href="/cars/all">all cars</a></li>
                {{#if user}}
                    <li><a href="/cars/create">add car</a></li>
                    <li><a href="/users/profile/me">profile</a></li>
                {{/if}}
            </ul>
            <ul id="user">
                {{#if user}}
                    <span>Hello, {{user.username}}</span>
                    <li><a href="/users/logout">logout</a></li>
                {{else}}
                    <li><a href="/users/register">register</a></li>
                    <li><a href="/users/login">login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    
    <section class="notification">
        {{#if errorMsg}}
            <h3 class="error">{{errorMsg}}</h3>
        {{/if}}
        {{#if successMsg}}
            <h3 class="success">{{successMsg}}</h3>
        {{/if}}
    </section>
    <section id="main-container">
        <main>
            <section id="main-container">
                {{{body}}}
            </section>
        </main>
    </section>
    <footer>
        <span>Authentication exercise</span>
    </footer>
    <script>
        document.onload = function() {
            document
                .querySelector('body')
                .classList
                .remove('preload');
        }
    </script>
</body>
</html>